@model TDT.Core.DTO.Firestore.PlaylistDTO

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tạo Play list mới</h1>

<h4>PlaylistDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="encodeId" class="control-label"></label>
                <input asp-for="encodeId" class="form-control" readonly />
                <span asp-validation-for="encodeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="title" class="control-label"></label>
                <input asp-for="title" class="form-control" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
@*             <div class="form-group">
                <label asp-for="thumbnail" class="control-label"></label>
                <input asp-for="thumbnail" class="form-control" />
                <span asp-validation-for="thumbnail" class="text-danger"></span>
            </div> *@
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isoffical" /> @Html.DisplayNameFor(model => model.isoffical)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="link" class="control-label"></label>
                <input asp-for="link" class="form-control" />
                <span asp-validation-for="link" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isIndie" /> @Html.DisplayNameFor(model => model.isIndie)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="releaseDate" class="control-label"></label>
                <input asp-for="releaseDate" class="form-control" type="date" />
                <span asp-validation-for="releaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sortDescription" class="control-label"></label>
                <input asp-for="sortDescription" class="form-control" />
                <span asp-validation-for="sortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="releasedAt" class="control-label"></label>
                <input asp-for="releasedAt" class="form-control" />
                <span asp-validation-for="releasedAt" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PR" /> @Html.DisplayNameFor(model => model.PR)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="artistsNames" class="control-label"></label>
                <input asp-for="artistsNames" class="form-control" />
                <span asp-validation-for="artistsNames" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="playItemMode" class="control-label"></label>
                <input asp-for="playItemMode" class="form-control" />
                <span asp-validation-for="playItemMode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="subType" class="control-label"></label>
                <input asp-for="subType" class="form-control" />
                <span asp-validation-for="subType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="uid" class="control-label"></label>
                <input asp-for="uid" class="form-control" />
                <span asp-validation-for="uid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="thumbnailM" class="control-label"></label>
                <input asp-for="thumbnailM" class="form-control" type="file" name="uploadFile" />
                <span asp-validation-for="thumbnailM" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isShuffle" /> @Html.DisplayNameFor(model => model.isShuffle)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isPrivate" /> @Html.DisplayNameFor(model => model.isPrivate)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="userName" class="control-label"></label>
                <input asp-for="userName" class="form-control" />
                <span asp-validation-for="userName" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isAlbum" /> @Html.DisplayNameFor(model => model.isAlbum)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="textType" class="control-label"></label>
                <input asp-for="textType" class="form-control" />
                <span asp-validation-for="textType" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isSingle" /> @Html.DisplayNameFor(model => model.isSingle)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="distributor" class="control-label"></label>
                <input asp-for="distributor" class="form-control" />
                <span asp-validation-for="distributor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="aliasTitle" class="control-label"></label>
                <input asp-for="aliasTitle" class="form-control" />
                <span asp-validation-for="aliasTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sectionId" class="control-label"></label>
                <input asp-for="sectionId" class="form-control" />
                <span asp-validation-for="sectionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contentLastUpdate" class="control-label"></label>
                <input asp-for="contentLastUpdate" class="form-control" />
                <span asp-validation-for="contentLastUpdate" class="text-danger"></span>
            </div>
@*             <div class="form-group">
                <label asp-for="like" class="control-label"></label>
                <input asp-for="like" class="form-control" />
                <span asp-validation-for="like" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="listen" class="control-label"></label>
                <input asp-for="listen" class="form-control" />
                <span asp-validation-for="listen" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="liked" /> @Html.DisplayNameFor(model => model.liked)
                </label>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
