@model IPagedList<TDT.Core.DTO.UserDTO>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Core.Common;
@{
    ViewData["Title"] = "Danh sách tài khoản";
}

<h2 class="title-admin">Danh sách tài khoản</h2>
<div class="row">
    <div class="col-3">
        <a type="button" class="btn btn-outline-dark" asp-action="Create">Thêm tài khoản mới</a>
    </div>
    <div class="col-6"></div>
    <div class="col-3 input-group mb-3 ">
        <input type="text" class="form-control border" placeholder="Nhập vào tài khoản cần tìm"
               aria-label="Nhập vào tài khoản cần tìm" aria-describedby="button-search"
               id="searchTerm" value="@ViewBag.SearchTerm">
        <div class="input-group-append">
            <button class="btn btn-outline-dark" type="button" id="button-search">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>
<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Tên đăng nhập
                </th>
                <th>
                    Email
                </th>
                <th>
                    Thời gian tạm khóa
                </th>
                <th>
                    Đang tạm khóa
                </th>
                @* <th>
                    Số lần truy cập thất bại
                </th> *@
                <th>
                    Ngày tạo
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null || Model.Count() > 0)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @item.LockoutEnd?.ToString("dd/MM/yyyy HH:mm:ss")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LockoutEnabled)
                        </td>
                        @* <td>
                            @Html.DisplayFor(modelItem => item.AccessFailedCount)
                        </td> *@
                        <td>
                            @item.CreateDate?.ToString("dd/MM/yyyy HH:mm:ss")
                        </td>
                        <td class="btn-control">
                            <a title="Chi tiết" href="@Url.Action("Details", "User", new { id = item.UserName})">
                                <div class="fa fa-eye" aria-hidden="true">
                                </div>
                            </a>
                            <a title="Cập nhật thông tin tài khoản" href="@Url.Action("Edit", "User", new { id = item.UserName})">
                                <div class="fa" aria-hidden="true">
                                    <svg style="fill: #ffbc0a;" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                                        <path d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z" />
                                    </svg>
                                </div>
                            </a>
                            <a title="Xóa tài khoản" onclick="DVNConfirm('Xóa', 'Tài khoản' , '/User/Delete' , '@item.UserName')">
                                <div class="fa" aria-hidden="true">
                                    <svg style="fill: #fc424a" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                                        <path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
                                    </svg>
                                </div>
                            </a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>Không có dữ liệu!</tr>
            }
        </tbody>
    </table>
</div>
<!-- Hiển thị điều hướng phân trang -->
<div class="pagedList-container">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @ViewBag.SearchTerm }), new PagedListRenderOptions { LiElementClasses = new[] { "pagedList" } })
</div>
<script>
    $(document).ready(function () {

        $('#button-search').click(function () {
            var searchTerm = $('#searchTerm').val();
            window.location.href = '@Url.Action("Index", new { page = 1 })' + '&searchTerm=' + searchTerm;
        });
        $('#searchTerm').keypress(function (e) {
            var key = e.which;
            if (key == 13) {
                var searchTerm = $('#searchTerm').val();
                window.location.href = '@Url.Action("Index", new { page = 1 })' + '&searchTerm=' + searchTerm;
            }
        });

    });
</script>