@using TDT.Core.DTO.Firestore
@using Newtonsoft.Json
@{
    ViewData["Title"] = "Album";
    List<SongDTO> songs = ViewData["songs"] as List<SongDTO>;
    string imgPlaylist = ViewData["thumbnail"].ToString();
    string contentLastUpdate = Model.ContentLastUpdate().ToShortDateString();
    string htmlArtistElement = Model.GetHtmlArtistElement();
    string htmlPlaylistSuggest = Model.GetHtmlPlaylistSuggest();
}

<main class="zm-section" id="body-scroll"
    style="position: absolute; inset: 0px; overflow: hidden scroll; margin-right: -6px; margin-bottom: 0px;">
    <div class="container pad-t-20">
        <div class="container playlist-detail-container">
            <div class="clearfix mar-b-30">
                <div class="media playlist-header sticky">
                    <div class="media-left">
                        <div class="zm-card header-thumbnail active">
                            <div class="zm-card-image">
                                <div class="z-thumb">
                                    <figure class="image is-48x48"><img src="@imgPlaylist" alt=""></figure>
                                    <div class="opacity "></div>
                                </div>
                                <div class="zm-actions-container">
                                    <div class="zm-box zm-actions playlist-actions"><button
                                            class="zm-btn zm-tooltip-btn animation-like is-hidden active is-hover-circle button"
                                            tabindex="0"><i class="icon ic-like"></i><i
                                                class="icon ic-like-full"></i></button><button
                                            class="zm-btn action-play  button" tabindex="0"><i class="icon action-play ic-svg-play-circle"></i>
                                        </button><button class="zm-btn zm-tooltip-btn is-hidden is-hover-circle button"
                                            tabindex="0"><i class="icon ic-more"></i></button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="media-content">
                        <div class="content-top">
                            <h3 class="title">@Model.title</h3>
                            <div class="artists">
                                @Html.Raw(Model.GetHtmlArtist())
                            </div>
                            @if (!Model.isPrivate)
                            {
                                @if (!string.IsNullOrEmpty(contentLastUpdate))
                                {
                                    <div class="release">Cập nhật: @Model.ContentLastUpdate().ToShortDateString()</div>
                                }
                                <div class="like">@Model.GetLike() người yêu thích</div>
                            }
                            else
                            {
                                <div class="created-by">Tạo bởi <span>@Model.userName</span></div>
                                <h3 class="subtitle">Riêng tư</h3>
                            }
                        </div>
                        <div class="actions"><button
                                class="zm-btn btn-play-all is-outlined active is-medium is-upper button" tabindex="0"><i
                                    class="icon ic-play"></i><span>Phát tất cả</span></button>
                            <div class="level">
                                <div class="level-item is-narrow"><button
                                        class="zm-btn zm-tooltip-btn animation-like mar-r-10 active is-hover-circle button"
                                        tabindex="0"><i class="icon ic-like"></i><i
                                            class="icon ic-like-full"></i></button></div>
                                <div class="level-item is-narrow"><button
                                        class="zm-btn zm-tooltip-btn is-hover-circle button" tabindex="0"><i
                                            class="icon ic-more"></i></button></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="playlist-content">
                    <div class="description">
                        <span>Lời tựa</span> <span>
                            <span><span>@Model.sortDescription</span></span><span style="position: fixed; visibility: hidden; top: 0px; left: 0px;"><span
                                    class="read-more">... Xem thêm</span></span></span></div>
                    <div class="list mar-b-10 song-list-select">
                        <div class="media select-header">
                            <div class="media-left">
                                <div class="sort-wrapper">
                                    <div class="zm-dropdown zm-group-dropdown mar-r-10">
                                        <div class="zm-dropdown-trigger-btn"><button class="zm-btn button"
                                                tabindex="0"><i class="icon ic-24-Sort"></i></button></div>
                                        <div class="zm-dropdown-content">
                                            <div class="zm-dropdown-list-item">Mặc định</div>
                                            <div class="zm-dropdown-list-item">Tên bài hát (A-Z)</div>
                                            <div class="zm-dropdown-list-item">Tên ca sĩ (A-Z)</div>
                                            <div class="zm-dropdown-list-item">Tên Album (A-Z)</div>
                                        </div>
                                    </div>
                                    <div class="column-text">Bài hát</div>
                                </div>
                            </div>
                            <div class="media-content">
                                <div class="column-text mar-l-10">Album</div>
                            </div>
                            <div class="media-right">
                                <div class="column-text"> Thời gian</div>
                            </div>
                        </div>
                        <div id="songs">
                            @for(int i = 0; i < 5; i++)
                            {
                                <div class="select-item">
                                    <div class="checkbox-wrapper"><label class="checkbox"><input type="checkbox"></label></div>
                                    <div class="list-item bor-b-1 media-item hide-right">
                                        <div class="media">
                                            <div class="media-left">
                                                <div class="song-prefix mar-r-10"><i class="icon ic-song"></i></div>
                                                <div class="song-thumb">
                                                    <figure class="image loading is-40x40" title="">
                                                        <img src="">
                                                    </figure>
                                                    <div class="opacity "></div>
                                                    <div class="zm-actions-container">
                                                        <div class="zm-box zm-actions">
                                                            <button class="zm-btn zm-tooltip-btn animation-like is-hidden active is-hover-circle button"
                                                                    tabindex="0">
                                                                <i class="icon ic-like"></i><i class="icon ic-like-full"></i>
                                                            </button><button class="zm-btn action-play  button"
                                                                             tabindex="0">
                                                                <i class="icon action-play ic-play"></i>
                                                            </button><button class="zm-btn zm-tooltip-btn is-hidden is-hover-circle button" tabindex="0">
                                                                <i class="icon ic-more"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-info">
                                                    <div class="title-wrapper">
                                                        <span class="item-title title loading">
                                                            <span>
                                                                <span>
                                                                    <span>
                                                                    </span>
                                                                </span><span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">…</span>
                                                            </span>
                                                        </span>
                                                    </div>
                                                    <h3 class="is-one-line is-truncate subtitle loading">
                                                    </h3>
                                                </div>
                                            </div>
                                            <div class="media-content">
                                                <div class="album-info loading">
                                                    <span>
                                                        <span><span></span></span><span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">…</span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="media-right">
                                                <div class="hover-items">
                                                    <div class="level">
                                                        <div class="level-item"></div>
                                                        <div class="level-item">
                                                            <button class="zm-btn zm-tooltip-btn is-hover-circle button"
                                                                    tabindex="0">
                                                                <i class="icon ic-karaoke"></i>
                                                            </button>
                                                        </div>
                                                        <div class="level-item">
                                                            <button class="zm-btn zm-tooltip-btn animation-like undefined active is-hover-circle button"
                                                                    tabindex="0">
                                                                <i class="icon ic-like"></i><i class="icon ic-like-full"></i>
                                                            </button>
                                                        </div>
                                                        <div class="level-item">
                                                            <button class="zm-btn zm-tooltip-btn is-hover-circle button"
                                                                    tabindex="0">
                                                                <i class="icon ic-more"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="action-items">
                                                    <div class="level">
                                                        <div class="level-item">
                                                            <button class="zm-btn zm-tooltip-btn animation-like undefined active is-hover-circle button"
                                                                    tabindex="0">
                                                                <i class="icon ic-like"></i><i class="icon ic-like-full"></i>
                                                            </button>
                                                        </div>
                                                        <div class="level-item duration loading"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="bottom-info">
                        <p class="playlist-songs-info"><span><span id="quantity-song">0</span> bài hát</span>•<span id="sum-duration-song">0 giờ 0 phút</span></p>
                    </div>
                </div>
            </div>
            @if (!string.IsNullOrEmpty(htmlArtistElement))
            {
                <div class="zm-section artist-section channel-section">
                    <div class="container">
                        <h3 class="zm-section-title title is-2">Nghệ sĩ tham gia</h3>
                        <div class="zm-carousel-wrapper">
                            <div class="zm-carousel">
                                <div class="zm-carousel__container" style="transform: translate3d(0px, 0px, 0px);">
                                    @Html.Raw(htmlArtistElement)
                                </div>
                                <button class="zm-btn zm-carousel-control-prev zm-disabled is-hide button" tabindex="0"><i
                                    class="icon ic-go-left"></i></button><button
                                class="zm-btn zm-carousel-control-next is-hide button" tabindex="0"><i
                                    class="icon ic-go-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if (!string.IsNullOrEmpty(htmlArtistElement))
            {
                <div class="zm-section playlist-section channel-section">
                    <div class="container">
                        <h3 class="zm-section-title title is-2">Có Thể Bạn Quan Tâm</h3>
                        <div class="zm-carousel-wrapper">
                            <div class="zm-carousel">
                                <div class="zm-carousel__container" style="transform: translate3d(0px, 0px, 0px);">
                                    @Html.Raw(htmlPlaylistSuggest)
                                </div>
                                <button class="zm-btn zm-carousel-control-prev zm-disabled is-hide button" tabindex="0">
                                    <i class="icon ic-go-left"></i>
                                </button><button class="zm-btn zm-carousel-control-next is-hide button" tabindex="0">
                                    <i class="icon ic-go-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div id="zmp3_Player_Overlay" class="mar-b-30" style="bottom: 90px;">
        <div class="wrlvks_A" id="dTP-zone-1095369414359345941" z2-zoneid="1095369414359345941" z2-width="728"
            z2-height="1" z2-close="true" z2-logo-position="bottom" z2-logo="no_fb" z2-close-freq="300"
            z2-reqid="552035">
        </div>
    </div>

</main>

<script>
    $(document).ready(function () {
        fromStack = "@Html.Raw(ViewData["fromstack"])";
        titleStack = "@Html.Raw(ViewData["titlestack"])";
        var checkFirst = false;
        var json = `@Html.Raw(JsonConvert.SerializeObject(Model.songs))`;
        var arrSongId = JSON.parse(json);
        var max = Math.ceil(arrSongId.length / 5);
        var q = $('#quantity-song');
        var d = $('#sum-duration-song');
        var iComplete = 1;
        HoldOn.open();
        if(max <= 0) {
            $('#songs').parents('.playlist-content').html(`
                    <div class="container user-songs-container">
                        <div class="container no-content mar-0">
                            <div class="no-content-box"><i class="icon main-icon ic-svg-music-icon"></i><span class="no-content-text">Không
                                    có bài hát trong playlist của bạn</span></div>
                        </div>
                    </div>
            `);
            HoldOn.close();
        }
        for(var i = 1; i <= max; i++) {
            $.ajax({
                url: "/Album/GetHtmlSong?page=" + i + "&json=" + json,
                success: function(data) {
                    var dt = JSON.parse(data);
                    if (checkFirst) {
                        $('#songs').append(dt.html);
                    }
                    else {
                        $('#songs').html(dt.html);
                        checkFirst = true;
                    }
                    $(q).html(dt.quantity);
                    $(d).html(dt.durationHtml);
                },
                complete: function () {
                    sortHtmlPlaylist(arrSongId);
                    if (iComplete++ == max) {
                        sleep(1000).then(() => {
                            HoldOn.close();
                        });
                    }
                }
            });
        }
    });
</script>