@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Core.Common;
@using X.PagedList;
@model IPagedList<TDT.Core.DTO.RoleDTO>

@{
    ViewData["Title"] = "Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<style>
    .btn-outline-dark:hover {
        color: #fff !important;
    }
</style>
<h2 class="title-admin">Danh Sách Vai Trò</h2>

<div class="row"> 
      <div class="col-3">
        <a type="button" class="btn btn-outline-dark" asp-action="Create">Tạo Mới Vai Trò</a>
        <a type="button" class="btn btn-outline-dark" asp-action="AssignPermission" title="Phân quyền">
            Phân quyền
            <div class="fa" aria-hidden="true">
                <svg style="fill: #00d25b;" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 640 512">
                    <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c1.8 0 3.5-.2 5.3-.5c-76.3-55.1-99.8-141-103.1-200.2c-16.1-4.8-33.1-7.3-50.7-7.3H178.3zm308.8-78.3l-120 48C358 277.4 352 286.2 352 296c0 63.3 25.9 168.8 134.8 214.2c5.9 2.5 12.6 2.5 18.5 0C614.1 464.8 640 359.3 640 296c0-9.8-6-18.6-15.1-22.3l-120-48c-5.7-2.3-12.1-2.3-17.8 0zM591.4 312c-3.9 50.7-27.2 116.7-95.4 149.7V273.8L591.4 312z" />
                </svg>
            </div>
        </a>
      </div>
      <div class="col-6"></div>
    <div class="col-3 input-group mb-3 ">
        <input type="text" class="form-control border" placeholder="Nhập vào vai trò cần tìm"
               aria-label="Nhập vào vai trò cần tìm" aria-describedby="button-search"
               id="searchTerm" value="@ViewBag.SearchTerm">
        <div class="input-group-append">
            <button class="btn btn-outline-dark" type="button" id="button-search">
                <i class="fa fa-search" aria-hidden="true"></i>
                </button>
        </div>
    </div>
</div>


<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Tên Role
                </th>
                <th>
                    Miêu tả Role
                </th>
                <th>
                    Ngày Tạo Role
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @item.CreateDate
                        </td>
                        <td class="btn-control">
                            <a title="Chi tiết" href="@Url.Action("Details", "Roles", new { id = item.Id})">
                                <div class="fa fa-eye" aria-hidden="true">
                                </div>
                            </a>
                            <a title="Cập nhật thông tin" href="@Url.Action("Edit", "Roles", new { id = item.Id})">
                                <div class="fa" aria-hidden="true">
                                    <svg style="fill: #ffbc0a;" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                                        <path d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z" />
                                    </svg>
                                </div>
                            </a>                           
                            <a title="Xóa" onclick="DVNConfirm('Xóa', 'Vai Trò' , '/Roles/Delete' , '@item.Id')">
                                <div class="fa" aria-hidden="true">
                                    <svg style="fill: #fc424a" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                                        <path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
                                    </svg>
                                </div>
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div class="pagedList-container">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @ViewBag.SearchTerm }), new PagedListRenderOptions { LiElementClasses = new[] { "pagedList" } })
</div>

<script>
    $(document).ready(function () {

        $('#button-search').click(function () {
            var searchTerm = $('#searchTerm').val();
            window.location.href = '@Url.Action("Index", new { page = 1 })' + '&searchTerm=' + searchTerm;
        });
        $('#searchTerm').keypress(function (e) {
            var key = e.which;
            if (key == 13) {
                var searchTerm = $('#searchTerm').val();
                window.location.href = '@Url.Action("Index", new { page = 1 })' + '&searchTerm=' + searchTerm;
            }
        });

    });
</script>
