@model TDT.Core.DTO.Firestore.SongDTO

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    DateTime maxDate = DateTime.Now.AddDays(1);
    string maxDateString = maxDate.ToString("yyyy-MM-dd");
}
<style>
    .select2-container .select2-selection--single {
        height: auto; /* Sử dụng giá trị 'initial' để vô hiệu hóa height */
    }

</style>

<h1>Chỉnh sửa bài hát!</h1>

<hr />
<div >
    <form asp-action="Edit" class="row" style="align-items:flex-start;" method="post" enctype="multipart/form-data">
        <div class="col-md-8">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="encodeId" class="control-label"></label>
                <input asp-for="encodeId" class="form-control" readonly hidden />
                <span asp-validation-for="encodeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="title" class="control-label"></label>
                <input asp-for="title" class="form-control" oninput="validateEmtiy(this, 'title-message');" onblur="validateEmtiy(this, 'title-message');" />
                <span asp-validation-for="title" class="text-danger" id="title-message"></span>
            </div>
            <div class="form-group">
                <label asp-for="alias" class="control-label"></label>
                <input asp-for="alias" class="form-control" oninput="validateEmtiy(this, 'alias-message');" onblur="validateEmtiy(this, 'alias-message');" />
                <span asp-validation-for="alias" class="text-danger" id="alias-message"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isOffical" /> @Html.DisplayNameFor(model => model.isOffical)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="username" class="control-label"></label>
                <input asp-for="username" class="form-control" />
                <span asp-validation-for="username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="artistsNames" class="control-label"></label>
                <input asp-for="artistsNames" class="form-control" oninput="validateEmtiy(this, 'artistsNames-message');" onblur="validateEmtiy(this, 'artistsNames-message');" />
                <span asp-validation-for="artistsNames" class="text-danger" id="artistsNames-message"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isWorldWide" /> @Html.DisplayNameFor(model => model.isWorldWide)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="thumbnailM" class="control-label"></label>
                <input asp-for="thumbnailM" class="form-control" readonly />
                <span asp-validation-for="thumbnailM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="link" class="control-label"></label>
                <input asp-for="link" class="form-control" />
                <span asp-validation-for="link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="thumbnail" class="control-label"></label>
                <input asp-for="thumbnail" class="form-control" readonly />
                <span asp-validation-for="thumbnail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="duration" class="control-label"></label>
                <input asp-for="duration" class="form-control" oninput="validateSoDuong(this, 'duration-message');" onblur="validateSoDuong(this, 'duration-message');" />
                <span asp-validation-for="duration" class="text-danger" id="duration-message"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="zingChoice" /> @Html.DisplayNameFor(model => model.zingChoice)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isPrivate" /> @Html.DisplayNameFor(model => model.isPrivate)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="preRelease" /> @Html.DisplayNameFor(model => model.preRelease)
                </label>
            </div>
            @* / *@
            <div class="form-group">
                <label asp-for="releaseDate" class="control-label"></label>
                <input id="releaseDateInput" class="form-control" type="datetime-local" value="@Model.ReleaseDate().ToString("yyyy-MM-ddTHH:mm:ss")" />
                <span id="releaseDateError" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <input asp-for="releaseDate" class="form-control" type="number" readonly />
                <span asp-validation-for="releaseDate" class="text-danger"></span>
            </div>
            @* / *@

            <div class="form-group">
                <label asp-for="distributor" class="control-label"></label>
                <input asp-for="distributor" class="form-control" />
                <span asp-validation-for="distributor" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isIndie" /> @Html.DisplayNameFor(model => model.isIndie)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="streamingStatus" class="control-label"></label>
                <input asp-for="streamingStatus" class="form-control" />
                <span asp-validation-for="streamingStatus" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="allowAudioAds" /> @Html.DisplayNameFor(model => model.allowAudioAds)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="hasLyric" /> @Html.DisplayNameFor(model => model.hasLyric)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="userid" class="control-label"></label>
                <input asp-for="userid" class="form-control" />
                <span asp-validation-for="userid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="album" class="control-label"></label>
                <select asp-for="album" asp-items="@ViewBag.Albums" class="form-control" id="albumSelect"></select>
                <span asp-validation-for="album" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isRBT" /> @Html.DisplayNameFor(model => model.isRBT)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="like" class="control-label"></label>
                <input asp-for="like" class="form-control" readonly />
                <span asp-validation-for="like" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="listen" class="control-label"></label>
                <input asp-for="listen" class="form-control" readonly />
                <span asp-validation-for="listen" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="liked" readonly /> @Html.DisplayNameFor(model => model.liked)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="comment" class="control-label"></label>
                <input asp-for="comment" class="form-control" readonly />
                <span asp-validation-for="comment" class="text-danger"></span>
            </div>
          

        </div>
        <div class="col-sm-4 text-center">
            <p class="badge badge-primary">@Html.DisplayNameFor(model => model.thumbnailM)</p>
            <p class="img_song img-fluid" encodeid="@Model.encodeId" thumbnail="@Model.thumbnailM"></p>

            <p class="badge badge-primary">Ảnh Được chọn</p> </br>
            <img id="selectedImage" style="width: 94px;height: auto;" alt="Chọn Ảnh để xem" />


            <div class=" form-group custom-file mt-2">
                <input type="file" class="custom-file-input" name="uploadFile" accept="image/*">
                <label class="custom-file-label" for="uploadFile" >Chọn tệp</label>
            </div>
            <div class="form-group">
                <input type="submit" id="submit-create" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script>
    $(document).ready(function () {
        $('#albumSelect').select2({
            placeholder: 'Chọn album',
        });
        $("#selectedImage").hide();
    });
    $(".img_song").each(function (e, val) {
        var id = $(this).attr("encodeid");
        var thumbnail = $(this).attr("thumbnail");
        loadImg(this, id, thumbnail);
        console.log(id, thumbnail);

    })
    function loadImg(that, _id, _thumbnail) {
        $.ajax({
            url: "/MusicManagement/LoadImg",
            data: {
                encodeID: _id,
                thumbnail: _thumbnail
            },
            success: function (data) {
                // $('#img_song').html(data);
                $(that).html('<img style="width: 94px;height: auto;" class="thumbnail" src="' + data + '"/>');
            }
        });
    }
    $("input[name='uploadFile']").change(function () {
        if (this.files && this.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $("#selectedImage").attr("src", e.target.result);
                $("#selectedImage").show(); // Hiển thị hình ảnh khi có tệp được chọn
            };
            reader.readAsDataURL(this.files[0]);
        } else {
            $("#selectedImage").hide(); // Ẩn hình ảnh khi không có tệp nào được chọn
        }
    });
    document.addEventListener("DOMContentLoaded", function () {
        var releaseDateInput = document.querySelector('input[type="datetime-local"]');
        var releaseDateHiddenInput = document.querySelector('input[name="releaseDate"]');
        var releaseDateError = document.getElementById("releaseDateError");

        releaseDateInput.addEventListener("change", function () {
            var selectedDate = new Date(releaseDateInput.value);
            var longValue = GetTicks(selectedDate);

            releaseDateHiddenInput.value = longValue;
        });
        // Kiểm tra date
        releaseDateInput.addEventListener("change", function () {
            var selectedDate = new Date(releaseDateInput.value);

            // Kiểm tra xem ngày đã chọn hợp lệ hay không
            if (selectedDate < new Date("1975-01-01T00:00") || selectedDate > new Date("@maxDateString")) {
                releaseDateError.textContent = "Ngày không hợp lệ, Date trong khoảng 01-01-1975 < Date < Ngày hiện tại ";
            } else {
                releaseDateError.textContent = ""; // Xóa thông báo lỗi nếu ngày hợp lệ.
            }
        });
    });
    ///-----------------------------------
    function validateEmtiy(input, messageSpanId) {
        const errorMessage = validateNotEmpty(input) || validateNotMoiKhoangTrang(input);
        const messageSpan = document.getElementById(messageSpanId);
        if (errorMessage) {
            messageSpan.textContent = errorMessage;
            return false; // Có lỗi
        } else {
            messageSpan.textContent = '';
            return true; // Không có lỗi
        }
    }
    function validateSoDuong(input, messageSpanId) {
        const errorMessage = validatePositiveNumber(input);
        const messageSpan = document.getElementById(messageSpanId);
        if (errorMessage) {
            messageSpan.textContent = errorMessage;
            return false; // Có lỗi
        } else {
            messageSpan.textContent = '';
            return true; // Không có lỗi
        }
    }
    document.getElementById("create-form").onsubmit = function () {
        const isTitleValid = validateEmtiy(document.getElementById("title"), 'title-message');
        const alias = validateEmtiy(document.getElementById("alias"), 'alias-message');
        const artistsNames = validateEmtiy(document.getElementById("artistsNames"), 'artistsNames-message');
        const duration = validateSoDuong(document.getElementById("duration"), 'duration-message');

        return isTitleValid && alias && artistsNames && duration;
    };

</script>