@using TDT.Core.DTO.Firestore;
@using TDT.Core.Helper;
@model PageList<List<SongDTO>>

@{
    ViewData["Title"] = "Danh sách bài hát";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="title-admin">Danh sách bài hát</h2>

@{
    int maxLength = 20; // Đặt giá trị tối đa
}
<div class="row">
    <div class="col-3">
        <a type="button" class="btn btn-outline-dark" asp-action="Create">Tạo Bài Hát Mới</a>
    </div>
    <div class="col-6">
        @{
            if (ViewBag.SearchTerm != "")
            {
                            <p>Số bài hát tìm được: @ViewBag.SoBH</p>
            }
                        @ViewBag.SoBH
        }
    </div>
    <div class="col-3 input-group mb-3 ">
        <input type="text" class="form-control border" placeholder="Nhập vào bài hát cần tìm"
               aria-label="Nhập vào bài hát cần tìm" aria-describedby="button-search"
               id="searchTerm" value="@ViewBag.SearchTerm">
        <div class="input-group-append">
            <button class="btn btn-outline-dark" type="button" id="button-search">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>

<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Mã ID</th>
                <th>Tiêu Đề</th>
                <th>Tên nghệ sĩ</th>
                <th>Ảnh</th>
                <th>Bản riêng tư</th>
                <th>Nhà phát hành</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Items)
            {
                <tr>
                    <td scope="row">
                        @Html.DisplayFor(modelItem => item.encodeId)
                    </td>
                    <td>
                        @{
                            string truncatedTitle = item.title.Length > maxLength ? item.title.Substring(0, maxLength) + "..." : item.title;
                        }
                        @truncatedTitle
                    </td>
                    <td>
                        @{
                            string truncatedArtistsNames = item.artistsNames.Length > maxLength ? item.artistsNames.Substring(0, maxLength) + "..." : item.artistsNames;
                        }
                        @truncatedArtistsNames
                    </td>
                    <td class="img_song" encodeid="@item.encodeId" thumbnail="@item.thumbnail">
                    </td>
                    <td>
                        @item.ReleaseDate()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.distributor)
                    </td>
                    <td class="btn-control">
                        <a onclick="DVNConfirm('Xóa', 'Bài Hát' , '/MusicManagement/Delete' , '@item.encodeId')">
                            <div class="fa fa-window-close text-danger" aria-hidden="true"></div>
                        </a>
                        <a href="@Url.Action("Details", "MusicManagement", new { id = item.encodeId})">
                            <div class="fa fa-bars" aria-hidden="true"></div>
                        </a>
                        <a href="@Url.Action("Edit", "MusicManagement", new { id = item.encodeId})">
                            <div class="fa fa-wrench text-warning " aria-hidden="true"></div>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Hiển thị điều hướng phân trang -->
<div class="pagination">
    <ul>
        @if (Model.PageNumber > 1)
        {
            <li><a asp-action="Index" asp-route-page="1"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></a></li>
            @if (Model.PageNumber > 4)
            {
                <li><span>...</span></li>
            }
            @for (var i = Model.PageNumber - 3; i < Model.PageNumber; i++)
            {
                if (i > 0)
                {
                    <li><a asp-action="Index" asp-route-page="@i">@i</a></li>
                }
            }
        }

        <li class="active"><a>@Model.PageNumber</a></li>

        @for (var i = Model.PageNumber + 1; i <= Model.PageNumber + 3; i++)
        {
            if (i <= Model.TotalPages)
            {
                <li><a asp-action="Index" asp-route-page="@i">@i</a></li>
            }
        }

        @if (Model.PageNumber < Model.TotalPages)
        {
            @if (Model.PageNumber < Model.TotalPages - 3)
            {
                <li><span>...</span></li>
            }
            <li><a asp-action="Index" asp-route-page="@Model.TotalPages"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a></li>
        }
    </ul>
</div>
<div>
    Đến Trang
    <input type="text" id="pageInput" name="pageInput" style="width: 60px;"> / @Model.TotalPages
    <div class="btn" id="goToPageButton">Đến</div>
</div>
<script>
    $(".img_song").each(function (e, val) {
        var id = $(this).attr("encodeid");
        var thumbnail = $(this).attr("thumbnail");
        loadImg(this, id, thumbnail);
        console.log(id, thumbnail);

    })
    function loadImg(that, _id, _thumbnail) {
        $.ajax({
            url: "/MusicManagement/LoadImg",
            data: {
                encodeID: _id,
                thumbnail: _thumbnail
            },
            success: function (data) {
                // $('#img_song').html(data);
                $(that).html('<img src="' + data + '"/>');
            }
        });
    }
    $(document).ready(function () {
        $('#button-search').click(function () {
            var searchTerm = $('#searchTerm').val();
            window.location.href = '@Url.Action("Index", new { page = 1})' + '&searchTerm=' + searchTerm;
        });
        $('#searchTerm').keypress(function (e) {
            var key = e.which;
            if (key == 13) {
                var searchTerm = $('#searchTerm').val();
                window.location.href = '@Url.Action("Index", new { page =  1})' + '&searchTerm=' + searchTerm;
            }
        });
        $('#goToPageButton').click(function (e) {
            e.preventDefault();
            var pageInput = $('#pageInput').val();
            var maxpage = @Model.TotalPages;
            if (pageInput && !isNaN(pageInput) && pageInput > 0) {
                if (pageInput > maxpage) {
                    pageInput = maxpage;
                }
                var url = "/MusicManagement?page=" + pageInput;
                window.location.href = url;
            }
        });

    });

</script>
