@model IEnumerable<TDT.Core.DTO.SongDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Tạo Bài Hát Mới</a>
</p>
<table class="table table-hover table-white">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.encodeId)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.artistsNames)
            </th>

            <th scope="col">
                @Html.DisplayNameFor(model => model.thumbnailM)
            </th>

            <th scope="col">
                @Html.DisplayNameFor(model => model.distributor)
            </th >

            <th scope="col">
                @Html.DisplayNameFor(model => model.album)
            </th>

            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
               <td scope="row">
                @Html.DisplayFor(modelItem => item.encodeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.artistsNames)
            </td>  
            <td>
                @Html.DisplayFor(modelItem => item.thumbnailM)
            </td> 

            <td>
                @Html.DisplayFor(modelItem => item.distributor)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.album)
            </td>

            <td >
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
