@using TDT.Core.Helper
@using TDT.Core.Enums
@using TDT.Core.Extensions
@using Microsoft.AspNetCore.Mvc.ViewFeatures
@using Microsoft.AspNetCore.Mvc.Rendering
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TDT Admin</title>
    <link rel="stylesheet" href="~/css/base.css" />
    <link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/SplashScreen.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    @Html.AddSharedCSS("css/HoldOn.css")
    @Html.AddSharedCSS("css/shared.css")
</head>
<body>
    <div class="container-scroller">
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <a href="/" class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
                <img src="~/image/logo_TDT_Devil_red.png" style="height:100%; object-fit:contain;" />
            </a>
            <ul class="nav mt-4">
                <li class="nav-item menu-items">
                    <a class="nav-link" href="@Url.Action("Index", "Home")">
                        <span class="menu-icon">
                            <i class="fa fa-tachometer" aria-hidden="true"></i>
                        </span>
                        <span class="menu-title">Trang chủ</span>
                    </a>
                </li>
                @* <li class="nav-item menu-items">
            <a class="nav-link">
                <span class="menu-icon">
                    <i class="fa fa-product-hunt" aria-hidden="true"></i>
                </span>
                <span class="menu-title">Products</span>
            </a>
        </li> *@
                <li class="nav-item menu-items">
                    <a class="nav-link" data-toggle="collapse" aria-expanded="false" aria-controls="auth">
                        <span class="menu-icon">
                            <i class="fa fa-shield" aria-hidden="true"></i>
                        </span>
                        <span class="menu-title">Tài khoản</span>
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </a>
                    <div class="collapse" id="auth">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="@Url.Action("Index", "User")">Danh sách tài khoản</a></li>
                            <li class="nav-item"> <a class="nav-link" href="@Url.Action("Index", "User")">Thêm tài khoản</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" data-toggle="collapse" aria-expanded="false" aria-controls="auth">
                        <span class="menu-icon">
                            <i class="fa fa-shield" aria-hidden="true"></i>
                        </span>
                        <span class="menu-title">Vai Trò</span>
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </a>
                    <div class="collapse" id="auth">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="@Url.Action("Index", "Roles")">Danh sách Vai Trò</a></li>
                            <li class="nav-item"> <a class="nav-link" href="@Url.Action("Create", "Roles")">Thêm Vai Trò</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" data-toggle="collapse" aria-expanded="false" aria-controls="auth">
                        <span class="menu-icon">
                            <i class="fa fa-shield" aria-hidden="true"></i>
                        </span>
                        <span class="menu-title">Quyền Truy Cập</span>
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </a>
                    <div class="collapse" id="auth">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="@Url.Action("Index", "Permission")">Danh sách Quyền Truy Cập</a></li>
                            <li class="nav-item"> <a class="nav-link" href="@Url.Action("Create", "Permission")">Thêm Quyền Truy Cập</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" data-toggle="collapse" aria-expanded="false" aria-controls="auth">
                        <span class="menu-icon">
                            <i class="fa fa-shield" aria-hidden="true"></i>
                        </span>
                        <span class="menu-title">Nhóm Quyền</span>
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </a>
                    <div class="collapse" id="auth">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="@Url.Action("Index", "Group")">Danh sách Nhóm Quyền</a></li>
                            <li class="nav-item"> <a class="nav-link" href="@Url.Action("Create", "Group")">Thêm Nhóm Quyền</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" data-toggle="collapse" aria-expanded="false" aria-controls="auth">
                        <span class="menu-icon">
                            <i class="fa fa-music" aria-hidden="true"></i>
                        </span>
                        <span class="menu-title">Bài hát</span>
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </a>
                    <div class="collapse" id="auth">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="@Url.Action("Index","MusicManagement")">Danh sách nhạc</a></li>
                            <li class="nav-item"> <a class="nav-link" href="@Url.Action("Create","MusicManagement")">Thêm Bài Hát</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" data-toggle="collapse" aria-expanded="false" aria-controls="auth">
                        <span class="menu-icon">
                            <i class="fa fa-th-list" aria-hidden="true"></i>
                        </span>
                        <span class="menu-title">Play List <i class="fa fa-music" aria-hidden="true"></i></span>

                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </a>
                    <div class="collapse" id="auth">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="@Url.Action("Index","PlaylistManagement")">Danh sách Play List </a></li>
                            <li class="nav-item"> <a class="nav-link" href="@Url.Action("Create","PlaylistManagement")"> Thêm Play List</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" data-toggle="collapse" aria-expanded="false" aria-controls="auth">
                        <span class="menu-icon">
                            <i class="fa fa-th-list" aria-hidden="true"></i>
                        </span>
                        <span class="menu-title">Genre <i class="fa fa-music" aria-hidden="true"></i></span>

                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </a>
                    <div class="collapse" id="auth">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="@Url.Action("Index","Genre")">Danh sách Genre </a></li>
                            <li class="nav-item"> <a class="nav-link" href="@Url.Action("Create","Genre")"> Thêm Genre</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" data-toggle="collapse" aria-expanded="false" aria-controls="auth">
                        <span class="menu-icon">
                            <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                        </span>
                        <span class="menu-title">Report</span>

                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </a>
                    <div class="collapse" id="auth">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="@Url.Action("BaiHatVuaPhatHanh","Reports")">Bài hát mới phát hành</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            @* <div>
                <span class="nav-link">Background Color</span>
                <div style="display:flex; align-items:center; justify-content: center;">
                    <span id="temp_black" class="dot-bg-color" style="background-color:var(--gray-dark);"></span>
                    <span id="temp_white" class="dot-bg-color" style="background-color:var(--white);"></span>
                </div>
            </div> *@
        </nav>
        <div class="container-fluid page-body-wrapper">
            <partial name="_NavPartial" />
            <div id="main-content">
                <div id="breadcrumb">
                    <p></p>
                </div>
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/js/settings.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="~/js/SplashScreen.js"></script>
    @Html.AddSharedScript("js/HoldOn.js")
    @Html.AddSharedScript("js/shared.js")
    @Html.AddSharedScript("js/validate_form.js")
    <!--Start of Tawk.to Script-->
    @* <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/64c4b53dcc26a871b02beda4/1h6g67v1e';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script> *@
    <!--End of Tawk.to Script-->

    <script>
        $(window).bind('beforeunload', function () {
            HoldOn.open();
        });
        $(document).ready(function () {
            var temp_black = {
                "--bg-temp": "#12151e", "--bg-main-content": "#12151e", "--nav-link-hover": "#0f1015",
                "--navbar-shadow": "20px 19px 34px -15px rgba(0, 0, 0, 0.5)", "--color-separate": "#2c2e33",
                "--color-icon-nav": "#fff", "--color-change": "#fff", "--bg-popup": "#191C24", "--bg-hover": "#0F1015",
                "--border-temp": "1px px solid #2c2e33", "--popup-shadow": "0px 0px 35px -3px black"
            };
            var temp_white = {
                "--bg-temp": "white", "--bg-main-content": "#F0F2F5", "--nav-link-hover": "#0f1015",
                "--navbar-shadow": "4px 0 0px 2px rgba(0 0 0 / 0.03)", "--color-separate": "#eaecf0",
                "--color-icon-nav": "#767676", "--color-change": "#000", "--bg-popup": "#fff", "--bg-hover": "#e5e7eb",
                "--border-temp": "1px solid #efebeb", "--popup-shadow": "0px 0px 35px -3px #eae4e4"
            };
            // $('#temp_black').on('click', function () {
            //     setTempViewColor_Black();
            // });
            // $('#temp_white').on('click', function () {
            //     setTempViewColor_White();
            // });
            function setTempViewColor_Black() {
                ajaxUpdateViewColor(0);
                $(":root").css(temp_black);
                $('.sidebar-brand-wrapper img').attr("src", '../image/logo_TDT_Devil-transparent.png');
            }
            function setTempViewColor_White() {
                ajaxUpdateViewColor(1);
                $(":root").css(temp_white);
                $('.sidebar-brand-wrapper img').attr("src", '../image/logo_TDT_Devil_red.png');
            }
            $.ajax({
                type: "GET",
                url: "api/helper/GetViewColor",
                success: function(data) {
                    if (data == "0") {
                        $('#temp_black').trigger('click');
                    }
                    else {
                        $('#temp_white').trigger('click');
                    }
                }
            });
            var crumbs = location.pathname.split('/');
            console.log(crumbs);
            crumbs[0] = "Home";
            if (crumbs[1] == "Home") {
                crumbs = new Array("Home", "");
            }
            console.log(crumbs);

            len = function (obj) {
                var L = 0;
                $.each(obj, function (i, elem) {
                    L++;
                });
                return L;
            };

            var UpdateBreadcrumbs = function () {
                var i = 0;
                $.each(crumbs, function (idx, value) {
                    if (idx < 2) {
                        $("#breadcrumb p").append('<a href="' + value + '">' + value + '</a>');
                    } else {
                        $("#breadcrumb p").append('<span>' + value + '</span>');
                    }
                    if (i != len(crumbs) - 1) {
                        $("#breadcrumb p").append('&nbsp;&nbsp;/&nbsp;&nbsp;');
                    }
                    i++;
                });
                $("a").click(function (event) {
                    // event.preventDefault();
                });
            };

            UpdateBreadcrumbs();

            $('a').click(function () {
                $("#breadcrumb p").text("");
                crumbs[$(this).attr("name")] = $(this).attr("href");
                UpdateBreadcrumbs();
            });
        });
        //https://codeseven.github.io/toastr/demo.html
        toastr.options = {
            "closeButton": true,
            "debug": true,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>
    <scrtipt>
        @* @Html.Raw(TempData["notify"])
        function notify(type, ){
            toastr["success"]("123", "hehe")
        } *@
    </scrtipt>
    <partial name="_MessagesPartial" model="@ViewData["Messages"]" ></partial>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

